*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFCED;
}

.controlLink1{
   margin:  10px 15px;
}
.headerInput{
    text-align: center;
    margin: 20px ;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-header{
    background-color: aliceblue;
}
.input-box-control{
    width: 500px;
    height: 500px;
    background-color: aquamarine;
    border: 2px solid black;
}

.form-control-tambahData form{
    margin: 2px 0;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

input[type="text"]{
    width: 400px;
    margin: 5.5px 0;
    padding: 10px;
}